:root {
    --bgColor: #364436;
    --xxxl-sizing: 130px;
    --xxl-sizing: 100px;
    --xl-sizing: 80px;
    --s-sizing: 20px;
    --xs-sizing: 16px;
    --default-sizing: 40px;
    --padding-xl: 70px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    font-family: 'Neue Montreal';
    color: white;
    overflow-x: hidden;
    /* Hide scrollbars */
}

/* Fonts */



/* Library */

h1,
h2 {
    font-family: 'Gallery Modern';
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 100;
    margin: 0;

    @media (max-width: 800px) {
        font-size: 60px;
    }
}

h3 {
    font-family: 'Gallery Modern';
    font-size: 66px;
    font-weight: 100;
    margin: 0;
}

h4 {
    font-family: 'Gallery Modern';
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.8;
}

li {
    list-style: none;
}